/*/HELP.md
/*/target/
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
/*/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### IntelliJ IDEA ###
/*/.idea
/*/*.iws
/*/*.iml

### Vscode ###
/*/.vscode/

### Project ###
/*/imooc-merchants.log

### Misc ###
.DS_Store
